<div id="time_slot_form">
  <%= simple_form_for (@time_slot || TimeSlot.new),
  url: url do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
